{% extends 'base.html' %}

{% block content %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

    .title1 {
        font-family: 'Black Han Sans', sans-serif;
        color: brown;
    }

    body {
        background-color: gray;
    }

    span {
        font-size: 30px;
    }

    #comment_form {
        text-align: left;
        background-color: rgb(104, 104, 104);
        border-radius: 100px;
        padding:2% 10%;
        margin: 3% 5%;
    }

    input {
        width: 30%;
    }

    textarea {
        resize: none;
        width:80%; 
        height:100px;
    }

    #submit {
        width:100px;
    }

    .comment {
        text-align: left;
        background-color: rgb(104, 104, 104);
        border-radius: 100px;
        padding:2% 10%;
        margin: 3% 5%;
    }

    .first_comment{
        border-radius: 30px;
        border : 1px solid rgb(27, 27, 27);
        font-weight: bolder;
        padding:2% 4%;
        background-color: rgb(226, 226, 226);
    }

    .recomment{
        border-radius: 30px;
        font-weight: bolder;
    }

    h4 {
        text-align: center;
    }
</style>

<h1 class=title1>{{article.title}}</h1>
<div class="d1">
    {{article.director}} | {{article.genre}}
    <hr>
    {{article.score}}
</div>
<hr>
{% if article.img %}
<p><img src="{{article.img.url}}" alt=""></p>
{% endif %}
<h6>{{article.content}}</h6>
<a href="{% url 'edit' article.id %}">수정하기</a>
<a href="{% url 'delete' article.id %}">삭제하기</a>
<br><br><br>
<h3>Write Comment</h3>
    <form method="POST" action="{% url 'create_comment' article.id %}" id="comment_form">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="submit" id="submit">
    </form>

{% for comment in comments %}
<br>
<div class="comment">
    <h4>Comment</h4>
    <div class="first_comment">
        <p>작성자: {{comment.author}}</p>
        <p>내용 : {{comment.body}}</p>
        <a href="{% url 'delete_comment' article.id comment.id%}">삭제</a>
    </div>
<div>
    <br><h4>Recomment</h4><br>
    {% for re_comment in re_comments %}
        {% if comment == re_comment.comment_id %}
            <div class="recomment">
            <p>ㄴ작성자 : {{re_comment.author}}</p>
            <p>ㄴ내용 : {{re_comment.body}}</p>
            <a href="{% url 'delete_comment' article.id re_comment.id%}">삭제</a>
            <hr>
        </div>
        <br>
        {% endif %}
    {% endfor %} 

    <form action = "{% url 'create_re_comment' article.id comment.id%}" method = "post" enctype = "multipart/form-data">
        <h3>Write Recomment</h3>
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">대댓글쓰기</button>
    </form>
</div>
</div>
{% endfor %}


{% endblock %}