{% extends 'base.html' %}

{% block content %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

    .title1 {
        font-family: 'Black Han Sans', sans-serif;
        color: brown;
    }

    body {
        background-color: gray;
    }

    span {
        font-size: 30px;
    }
</style>
<h1 class=title1>{{article.title}}</h1>
<div class="d1">
    {{article.director}} | {{article.genre}}
    <hr>
    {{article.score}}
</div>
<hr>
{% if article.img %}
<p><img src="{{article.img.url}}" alt=""></p>
{% endif %}
<h6>{{article.content}}</h6>
<a href="{% url 'edit' article.id %}">수정하기</a>
<a href="{% url 'delete' article.id %}">삭제하기</a>
<br>

<form method="POST" action="{% url 'create_comment' article.id %}">
    {% csrf_token %}
    {{form}}
    <input type="submit" value="등록">
    {% for i in article.comment_set.all %}
    댓글 {{i}}
    {%endfor%}
</form>  

{% for comment in comments %}
<br>
<p>작성자: {{comment.author}}</p>
<p>내용 : {{comment.body}}</p>
<div>
    {% for re_comment in re_comments %}
        {% if comment == re_comment.comment_id %}
            <p>작성자 : {{re_comment.author}}</p>
            <p>내용 : {{re_comment.body}}</p>
        <br>
        {% endif %}
    {% endfor %}
    <span onclick="showCommentForm(this)" value="{{comment.id}}">답댓글쓰기</span>
    <div id="re_comment_form{{comment.id}}"></div>
</div>
{% endfor %}
<script>
    function showCommentForm(obj) {
        comment_id = obj.getAttribute('value');
        url = 'create_re_comment/' + {{article.id}} + '/' + comment_id;
        document.getElementById('re_comment_form' + comment_id).innerHTML = '
            <form action="${url}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit">대댓글쓰기</button>
            </form>
        ';
    }
</script>
{% endblock %}