<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netflix Recommendation Board</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    <style>
        body{
            text-align: center;
            background-color: #000000;
        }
        .navbar-custom {
            background-color: #000000;
        }
        @import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
    </style>
</head>
<body>
    <nav class="navbar navbar-custom">
        <div class="container-fluid">
          <a class="navbar-brand" href = "{%url 'home'%}" >
            <img src = "{% static 'netflixImg.png'%}" alt = "" width = "180" height = "100" >
          </a>
        
        </div>
      </nav>
    
<div class= "container">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>